@tailwind base;
@tailwind components;
@tailwind utilities;


*{

    margin: 0;
}
body{
    background-image: url(../src/assets/image\ copy\ 2.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 100vh;
}